apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: microservices-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      serviceAccountName: backend
      containers:
      - name: backend
        image: nginx:latest
        ports:
        - containerPort: 80
        env:
        - name: BACKEND2_SERVICE
          value: "http://backend2.microservices-demo.svc.cluster.local"
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
      volumes:
      - name: nginx-config
        configMap:
          name: backend-nginx-config


